.SearchResults {
  width: 90%;
  height: 450px;
  overflow-y: scroll;
  padding: 0.48rem;
  background-color: rgba(35, 35, 48, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.SearchResults h2 {
  color: antiquewhite;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
