.Track {
  display: flex;
  align-items: left;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-action {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: color 0.25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.Track-action:hover {
  color: rgba(265, 265, 265, 0.5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  height: 72px;
}
.Track-information:hover {
  transform: scale(1.05);
}

.Track-information h3 {
  margin-top: 0.2rem;
  margin-bottom: 0.22rem;
  font-size: 0.8rem;
}

.Track-information p {
  font-size: 0.48rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}
