body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(68, 16, 16);
}

.row {
  background-color: rgb(68, 16, 16);
  margin: 80px 20px 20px 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* .img {
  margin: 0;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-image: url(https://thefemalegazers.files.wordpress.com/2018/08/coming-of-age-film.jpg);
} */

.row h2 {
  margin-top: 20px;
  margin-left: 20px;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container-fluid {
  padding: 0;
}

.navfalse {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav_logo {
  margin: 5px;
}

.card-footer {
  margin-top: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie_description {
  color: antiquewhite;
}

.movie_title {
  color: antiquewhite;
}

.search_bar input {
  background-color: antiquewhite;
  display: flex;

  border-radius: 8px;
}
.movie_info {
  color: antiquewhite;
}

.movie_info input {
  background-color: antiquewhite;
  cursor: pointer;
  width: 70px;
  margin-top: 12px;
  border-radius: 8px;
}

.movie_info p {
  font-weight: bold;
}

.movie_info div {
  display: flex;
  flex-direction: column;
}
