.nav {
  top: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-between;

  /* transition-timing-function: ease-in;
  transition: all 0.5s;*/
}

.nav_black {
  background-color: white;
}

.nav_logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  left: 20px;
  width: 80px;
}
