.row {
  margin-left: 15%;
  margin-right: 15%;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0px 20px 0px;
  margin: 10px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  object-fit: contain;
  width: 250%;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
}
.row_poster:hover {
  transform: scale(1.1);
}

/* style till Movie info*/
.movie_img {
  border-radius: 10px 0px 0px 10px;
  margin: 20px;
  width: 90%;
}

.movie_info {
  border-radius: 10px;
  margin: 70px 200px 20px 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: grid;
  grid-template-areas: "image_box info";
  height: 80%;
}
.info_box {
  border-radius: 0px 10px 10px 0px;
  margin: 10px;
  grid-area: info;
  padding: 25px;
  box-sizing: border-box;
}
.movie_title {
  text-decoration: underline;
  font-size: 25px;
  margin: 5%;
  margin-top: 10px;
  grid-area: movie_title;
}
.image_box {
  padding: 10px;
  grid-area: image_box;
  height: 70%;
  width: 90%;
}

.tillbaka {
  margin: 40px;
  float: left;
  border-radius: 10px;
  padding: 10px;
}
