.row {
  margin-left: 15%;
  margin-right: 15%;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0px 20px 0px;
  margin: 10px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}
.row_poster {
  object-fit: contain;
  width: 250%;
  max-height: 250px;
  margin-right: 10px;
  transition: transform 450ms;
}
.row_poster:hover {
  transform: scale(1.1);
}

/* style till Movie info*/
.movie_img {
  border-radius: 10px 10px 10px 10px;
  margin-top: 50%;
  width: 90%;
  float: left;
}

.movie_info {
  border-radius: 10px;
  margin: 20px;
  display: grid;
  grid-template-areas: "image_box info";
  height: 80%;
}
.info_box {
  border-radius: 0px 10px 10px 0px;
  margin: 10px;
  grid-area: info;
  padding: 25px;
  box-sizing: border-box;
}
.movie_title {
  text-decoration: underline;
  font-size: 25px;
  margin-bottom: 15px;
  grid-area: movie_title;
}
.image_box {
  grid-area: image_box;
}

.spotify_box {
  border-radius: 10px;
  margin: 20px;
  height: 80%;
}

.tillbaka {
  margin: 40px;
  float: left;
  border-radius: 10px;
  padding: 10px;
}
